body {
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(rgb(5, 113, 255), rgba(0, 119, 255, 0.603)) fixed;

    color: #efefefe3;
}


.navbar-laravel {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    display: none;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.table-dark {
    color: #fff;
}

.list-group-item {
    border-color: #fff;
    background-color: #000;
}

.login-box {
    background-color: rgba(0, 0, 0, 0);
}

.login-header {
    background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
    // background-color: rgba(0, 0, 0, 0.25);
}

.buttons {
    font-family: monospace;
    margin-top: 0.5rem;
}

.font {
    color: #f00;
}
.card {
    text-align: center;
}
