body {
    color: #000;
}

.header {
    .logo {
        width: 120px;
        height: 82px;
    }
}

.headline {
    .caption {
        position: relative;
        width: 350px;

        .image {
            img {
                width: 100%;
            }
        }

        .title {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);

            h1 {
                color: #fff;
                font-size: 1.2em;
            }
        }

        .body {
            font-size: 0.8em;
        }
    }
}

.posts {
    .post {
        .date {
            font-size: 0.6em;
            color: #999999;
        }

        .title {
            font-size: 1.2em;
            font-weight: bold;
        }

        .body {
            font-size: 0.8em;
        }

        .image {
            img {
                width: 250px;
            }
        }
    }
}

/*--- Media Queries --*/

@media (max-width: 767px) {
    .content h2 {
        font-size: 50%;
    }
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-caption h3 {
        font-size: 110%;
    }

    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }

    .carousel-indicators {
        display: none;
    }

    .display-4 {
        font-size: 160%;
    }

    .social a {
        font-size: 2em;
        padding: .7rem;
    }

}


