body {
  background-repeat: no-repeat;
  background-position: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0571ff), to(rgba(0, 119, 255, 0.603))) fixed;
  background: linear-gradient(#0571ff, rgba(0, 119, 255, 0.603)) fixed;
  color: #efefefe3;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.buttons {
  font-family: monospace;
  margin-top: 0.5rem;
}

.font {
  color: #f00;
}

.card {
  text-align: center;
}

/*--- Media Queries --*/

@media (max-width: 767px) {
  body {
    font-size: 50%;
  }

  .col-md-4 .buttons {
    text-align: center;
  }

  .col-md-2 .buttons {
    margin-top: 1rem;
  }

  .table {
    padding: 0 0.5rem;
    max-height: 50%;
    text-overflow: ellipsis;
  }

  .edit-image img {
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .edit-movie video {
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  h2 {
    font-size: 50%;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 110%;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }

  .display-2 {
    font-size: 50%;
  }
}

